.painel-principal {
    background-color: #f2480d;
    display: flex;
    flex-direction: row;
    width: 100%;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
}

.painel-esquerda {
    align-self: flex-start;
    align-items: flex-start;
    justify-content: space-evenly;
}

.painel-direita {
    align-self: flex-end;
}

.painel-central {
    align-self: center;
    align-items: baseline;
}

.bt-menu {
    width: 32px;
    height: 32px;
}