.servico {
    text-align: center;
    padding: 32px;
}

.servico .servico-content {
    display: flex;
    padding: 10px;
    
}

.servico h3 {
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
}